*{
  margin: 0;
  padding: 0;
}
.container{
  margin-top: 35;
}
.reto{
  background: #1EDFCD ;
  border: 1px solid #E3EEED;
  height: 50px;
}

#footer {
  background: #3C6997;
}

.footer a {
  color: white;
  text-decoration: none;
}
#logo img {
  height: 45px;
}

#main .carousel-inner img {

  max-height: 79vh;
  object-fit: cover;
  filter: grayscale(70%);
}

#carousel {
  position: relative;
}

#carousel .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  z-index: 1;
}

#carousel .overlay  .container,
#carousel .overlay .overlay {
  height: 100%;
}

.btn-eduer {
  background-color: #3C6997;
  color: white;
}

.btn-eduer:hover {
  background-color: #4284c7;
  color: white;
}